In [1]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [3]:
count = 6
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

6

In [4]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name
last_name
age
country
is_marred
skills
address
first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}


Iterate 10 to 0 using for loop, do the same using while loop.

## Q1
#### Iterate 0 to 10 using for loop, do the same using while loop.

In [3]:

for count in range(11): # Using for loop
    print(count)

count = 0    #Using while loop
while count <=10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

## Q2
#### Iterate 10 to 0 using for loop, do the same using while loop.

In [19]:
for count in range(10,0): #Using for loop
    print(count)


count = 10   #Using while loop
while count >= 0:
    print(count)
    count = count - 1

10
9
8
7
6
5
4
3
2
1
0

## Q3
### Write a loop that makes seven calls to print(), so we get on the output the following triangle:
      #
      ##
      ###
      ####
      #####
      ######
      #######

In [20]:
# outer loop to handle number of rows
# n in this case
for i in range(0, 7):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("# ",end="")
      
        # ending line after each row
        print("\r")

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #

## Q4
#### Use nested loops to create the following:
        # # # # # # # #
        # # # # # # # #
        # # # # # # # #
        # # # # # # # #
        # # # # # # # #
        # # # # # # # #
        # # # # # # # #
        # # # # # # # #

In [24]:
for i in range(0, 7):
    for j in range(7):
        print('# ', end=" ")
    print("\r")

#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #
#  #  #  #  #  #  #

## Q5
#### print the following pattern
        0 x 0 = 0
        1 x 1 = 1
        2 x 2 = 4
        3 x 3 = 9
        4 x 4 = 16
        5 x 5 = 25
        6 x 6 = 36
        7 x 7 = 49
        8 x 8 = 64
        9 x 9 = 81
        10 x 10 = 100

In [27]:
for i in range(0,11):
    print("{} * {} = {}".format(i,i,(i*i)))

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

## Q6
##### Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [28]:
for i in ['Python', 'Numpy','Pandas','Django', 'Flask']:
    print(i)

Python
Numpy
Pandas
Django
Flask

## Q7
##### Use for loop to iterate from 0 to 100 and print only even numbers

In [29]:
for count in range(0,100):
    if count % 2 == 0:
        print(count)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

## Q8
##### Use for loop to iterate from 0 to 100 and print only odd numbers

In [30]:
for count in range(0,100):
    if count % 2 != 0:
        print(count)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# LEVEL 2

## Q1
##### Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [ ]:
total = 0
for count in range(0,100):
    total += count
    print('The sum of all numbers is:', total)

## Q2
#### Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [ ]:
for count in range(0,100):
    if count % 2 == 0:
        even_nums = count
    else:
        odd_nums = count
    
    print("The sum of all evens is sum({}). And the sum of all odds is sum({})".format(even_nums,odd_nums))

# LEVEL 3

## Q1
##### Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

In [ ]:
for count in countries:
    print(count)

## Q2
##### This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [59]:
fruits = ['banana', 'orange', 'mango', 'lemon']
for reversed in fruits[::-1]:
    print(reversed)

lemon
mango
orange
banana

## Q3
#### Go to the data folder and use the countries_data.py file.
    What are the total number of languages in the data
    Find the ten most spoken languages from the data
    Find the 10 most populated countries in the world

In [ ]:
lists = []

for data in countries_data:
	for lang in data['languages']:
		lists.append(lang)
lst_set = set(lst)
print('The total number of language in the data is: ', len(lst_set), 'languages')


sortings = sorted(lists,key=lists.count,reverse=True)
print(sortings)
print(list(set([sortings.count(i) for i in sortings]))[-10:])


lst1=[]
for data in countries_data:
    population = data["population"]
    country = data["name"]
    if population>125000000:
        lst1.append(country)
        
print("The 10 most populated countries in the world are: \n", lst1)